{% extends('::admin.html.twig') %}

{% block body %}
    <div class="well">
        <h3>Edit category</h3>

    <form action="{{ path('category_edit', { 'id': category.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary btn-small pull-left space-top">Edit</button>
        </p>
    </form>

    <form action="{{ path('category_delete', { 'id': category.id }) }}" method="post">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-small pull-left space-left">Delete</button>
    </form>

    <div class="clear"></div>

    <div class="space-top">
        <a href="{{ path('category_admin') }}">
            Back to the list
        </a>
    </div>
{% endblock body %}
