{% extends('::admin.html.twig') %}

{% block body %}

	<div class="row-fluid">
		<div class="span12">
			{% for flashMessage in app.session.flashbag.get('info') %}
			    <div class="alert alert-info">
			    	<button class="close" data-dismiss="alert" type="button">×</button>
			        <strong>Notice</strong> 
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error') %}
			    <div class="alert alert-error">
			    	<button class="close" data-dismiss="alert" type="button">×</button>
			        <strong>Error</strong> 
			        {{ flashMessage }}
			    </div>
			{% endfor %}

			<table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr>
	                  	<th>
	                  		<h1 class="well no-margin">
	                  			{% trans %}Content Manager{% endtrans %}
	                  		</h1>
	                  	</th>
	                </tr>
	            </thead>
	        </table>


			{% if display %}
				<a href="#myModal" role="button" class="btn btn-primary btn-small pull-right" data-toggle="modal"><i class="icon icon-plus-sign icon-white"></i> New</a>
				<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<form action="{{ path('contents_new', {'lang' : defaultLanguage.id }) }}" mathod="post">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="myModalLabel">Choose your content type</h3>
						</div>
						<div class="modal-body">
							{{ contentType|raw }}
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							<input class="btn btn-primary" type="submit" value="New" />
						</div>
					</form>
				</div>

			    <div class="clear h20"></div>

				<table class="table table-striped table-bordered table-hover">
		            <thead>
		                <tr>
		                  	<th class="center-text">#</th>
		                  	<th>Title</th>
		                  	<th class="center-text">Type</th>
		                  	<th class="center-text">Language</th>
		                  	<th class="center-text">Translations</th>
		                  	<th class="center-text">Published</th>
		                  	<th class="center-text">Created</th>
		                  	<th class="center-text">Action</th>
		                </tr>
		            </thead>
		            <tbody>
		              	{% for content in contents %}
			                {% set found = false %}
			              	<tr>
				                <td class="center-text">
				                  	{{ loop.index }}
				                </td>
			                  	<td>
			                  		<a href="{{ path('contents_edit', {'id' : content.id }) }}">
			                  			{{ content.title }}
			                  		</a>
			                  	</td>
			                  	<td class="center-text">
			                  		{% if content.contenttype is defined %}
			                  			{{ content.contenttype }}
			                  		{% endif %}
			                  	</td>
			                  	<td class="center-text"><img src="{{ asset('bundles/contentmanager/img/flags/'~content.language.iso~'.png') }}" height="23px" style="height:23px;" alt="{{ content.language.iso }}">
			                  	</td>
			                  	<td class="center-text">
			                  		{% for language in languages %}
			                  			{% for translation in content.taxonomy.contents %}
			                  				{% if language.id == translation.language.id %}
			                  					{% set found = loop.index %}
			                  				{% endif %}
			                  			{% endfor %}
				                  		{% if found != false %}
				                  			{% set found = found - 1 %}
				                  			<a href="{{ path('contents_edit', { 'id' : content.taxonomy.contents[found].id }) }}" class="flag-element">
				                  				<img src="{{ asset('bundles/contentmanager/img/flags/'~language.iso~'.png') }}" class="flag" alt="{{ language.iso }}">
				                  				<img src="{{ asset('bundles/contentmanager/img/flags/flag-ok.png') }}" class="flag-ok" alt="{{ language.iso }}">
				                  			</a>
				                  		{% else %}
				                  			<a href="{{ path('contents_translation', {'lang' : language.id, 'reference': content.taxonomy.id, 'contenttype': content.contenttype.id }) }}">
				                  				<img src="{{ asset('bundles/contentmanager/img/flags/'~language.iso~'.png') }}" class="flag" alt="{{ language.iso }}">
				                  			</a>
				                  		{% endif %}
			                			{% set found = false %}				                  	
			                  		{% endfor %}
			                  	</td>
			                  	<td class="center-text">
			                  		<a href="{{ path('contents_published', {'id' : content.id }) }}">
					                  	{% if content.published %}
					                  		<i class="icon-ok"></i>
					                  	{% else %}
					                  		<i class="icon-ban-circle"></i>
					                  	{% endif %}
				                  	</a>
				                </td>
			                  	<td class="center-text">
			                  		{{ content.created|date('m/d/y') }}
			                  	</td>
			                  	<td class="center-text">
			                  		<a href="{{ path('contents_edit', {'id' : content.id }) }}"><i class="icon-pencil"></i></a>
			                  		<a href="{{ path('contents_copy', {'id' : content.id }) }}"><i class="icon-file"></i></a>
			                  		<a href="{{ path('contents_delete', {'id' : content.id }) }}"><i class="icon-trash"></i></a>
			                  		<a href="#manageTranslation" role="button" data-toggle="modal"><i class="icon-globe"></i></a>
			                  		<div class="modal hide fade" id="manageTranslation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				                  		<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">Manage Translations</h3>
										</div>
										<div class="modal-body">			                  	
											<table class="table table-striped table-bordered">
							      				<thead>
									                <tr>
									                  	<th class="center-text">#</th>
									                  	<th>Title</th>
									                  	<th class="center-text">Type</th>
									                  	<th class="center-text">Published</th>
									                  	<th class="center-text">Created</th>
									                  	<th class="center-text">Action</th>
									                </tr>
									            </thead>
									            <tbody>
													{% for language in languages %}
											  			{% for translation in content.taxonomy.contents %}
											  				{% if language.id == translation.language.id %}
											  					{% set found = loop.index %}
											  				{% endif %}
											  			{% endfor %}
											      		{% if found != false %}
											      			{% set found = found - 1 %}
											      				<tr>
												                	<td class="center-text">
												                  		{{ loop.index }}
												                	</td>
											                  		<td>
											                  			<a href="{{ path('contents_edit', {'id' : content.taxonomy.contents[found].id }) }}">
											                  				{{ content.taxonomy.contents[found].title }}
											                  			</a>
											                  		</td>
											                  		<td class="center-text">
											                  			{% if content.taxonomy.contents[found].taxonomy is defined %}
											                  				{% for taxonomy in content.taxonomy.contents[found].taxonomy %}
											                  					{{ taxonomy.title }}
											                  				{% endfor %}
											                  			{% endif %}
											                  		</td>
											                  		<td class="center-text">
												                  		<a href="{{ path('contents_published', {'id' : content.taxonomy.contents[found].id }) }}">
														                  	{% if content.taxonomy.contents[found].published %}
														                  		<i class="icon-ok"></i>
														                  	{% else %}
														                  		<i class="icon-ban-circle"></i>
														                  	{% endif %}
													                  	</a>
													                </td>
												                  	<td class="center-text">
												                  		{{ content.taxonomy.contents[found].created|date('m/d/y') }}
												                  	</td>
												                  	<td class="center-text">
												                  		<a href="{{ path('contents_edit', {'id' : content.taxonomy.contents[found].id }) }}"><i class="icon-pencil"></i></a>
												                  		<a href="{{ path('contents_delete', {'id' : content.taxonomy.contents[found].id }) }}"><i class="icon-trash"></i></a>
												                  	</td>
												                </tr>
										      			{% endif %}
														{% set found = false %}				                  	
									  				{% endfor %}
										  		</tbody>
										    </table>
										</div>
									</div>
			                  	</td>
			                </tr>					
						{% endfor %} 
		            </tbody>
		        </table>
		    {% endif %}
	    </div>
	</div>	

{% endblock body %}
