<a href="{{ path('categories') }}">categories</a>
<a href="{{ path('contents') }}">contents</a>
<a href="{{ path('types') }}">types</a>
<a href="{{ path('fields') }}">fields</a>
<a href="{{ path('languages') }}">languages</a>